<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--spring的配置文件-->
    <!--配置文件最好放在类路径当中，方便后期的移植，放在resources跟目录下，就相当于放到了类的跟目录下-->
    <!--配置bean，这样spring才可以帮助我们管理这个对象-->

    <!--
        bean标签有两个重要属性：
            id: bean的唯一标识，不能重复！
            class: 必须填写类的全路径，全限定类名（带包名的类名）
    -->
    <bean id="userBeanVip" class="com.charlie.spring6.bean.Vip"/>
</beans>